# SPMI backend environment
APP_NAME=SPMI
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=spmi
DB_USERNAME=spmi
DB_PASSWORD=spmi_secret

BROADCAST_CONNECTION=log
CACHE_STORE=file
QUEUE_CONNECTION=redis
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

SANCTUM_STATEFUL_DOMAINS=localhost:3000,localhost,nginx
SESSION_DOMAIN=localhost
FILESYSTEM_DISK=public

MAIL_MAILER=log
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="no-reply@spmi.local"
MAIL_FROM_NAME="${APP_NAME}"
